<div class="jumbotron">
  <h1>Welcome to Stardate.</h1>
  <p>Brand new way to store and share your journeys amongst the stars.</p>
  <p>
    <a href="#/" class="btn btn-info"><i class="glyphicon glyphicon-star"></i> Take a Tour</a>
    <a href="#/signup" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Sign up</a> 
    <a href="#/login" class="btn btn-success"><i class="glyphicon glyphicon-user"></i> Sign in</a>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="cbg">
      <h1>Wow.</h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="cbg">
      <h1>Such HTML.</h1>
    </div>
  </div>
  <div class="col-md-4">
    <div class="cbg">
      <h1>Very CSS.</h1>
    </div>
  </div>
</div>