<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="cbg form-horizontal">
      <h1>Sign up.</h1>
      <div class="form-group">
        <label for="in_email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="in_email" placeholder="Email" ng-model="form.email">
        </div>
      </div>
      <div class="form-group">
        <label for="in_password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="in_password" placeholder="Password" ng-model="form.pass">
        </div>
      </div>
      <div class="form-group">
        <label for="in_password_retype" class="col-sm-3 control-label">Retype Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="in_password_retype" placeholder="Password" ng-model="form.passRetype">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-primary" ng-click="signup()">Sign up</button>
          <a href="#/login" class="btn btn-default">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>